body {
    overflow-x: hidden;
}

.header_number {
    display: flex;
    letter-spacing: 4rem;
}

.header_nav {
    max-width: 50rem;

    ol {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin-left: -2rem;
        margin-top: -2rem;
        justify-content: space-between;
    }
}

.choose_yours_bmw {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .rank {
        display: flex;
        gap: 2rem;

        p:last-of-type {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0;
        }

        a {
            background-image: url(img/whatsapp.svg);
            height: 1.5rem;
            display: inline-block;
            width: 1.5rem;
            background-repeat: no-repeat;
        }

        a:first-of-type {
            background-image: url(img/facebook.svg);
        }

        button {
            background-color: #1C69D4;
            color: #fff;
            border: none;
            padding: .8rem;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
}

.carrosel {
    margin-left: -6rem;
    margin-right: -1rem;
    position: relative;

    .politics {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    h2 {
        background-image: url(img/icon_calculadora.svg);
        background-repeat: no-repeat;
        font-size: 1.5rem;
        padding-left: 2rem;
        background-position: 5px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    input,
    select,
    textarea {
        border: none;
        border-bottom: 1px solid #000;
        opacity: 0.5;
    }


    form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        button {
            background-color: #1C69D4;
            color: #fff;
            border: none;
            padding: .8rem;
        }
    }

    img {
        max-width: 100%;
    }

    .form_cotacao {
        position: absolute;
        top: 3rem;
        right: 20%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 1rem;
    }
}

header {
    padding-left: 5rem;
}

.header {
    display: flex;
    margin-top: 1rem;


    img {
        padding-left: 37rem;
    }

    div {
        letter-spacing: 0.5em;
    }

    button {
        padding: 5px 10px;
        border: none;
        background-repeat: no-repeat;
        background-position: 5px;
        padding-left: 2rem;

        &.button_color_primary {
            background-color: #000;
            color: #fff;
        }

        &.button_color_secundary {
            background-color: #25D366;
            color: #fff;
        }

        &.icon_phone {
            background-image: url(img/icon_fone.svg);

        }

        &.icon_tour {
            background-image: url(img/grupo_de_máscara_50.svg);

        }

        &.icon_whatsapp {
            background-image: url(img/icon_whatsapp.svg);

        }
    }
}

footer {
    background-color: #E6E6E6;
    padding: 2rem 11em;

    p {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.hide_desktop {
    display: none;
}

@media (max-width: 480px) {
    header {
        padding-left: 0;
    }

    .header {
        padding: 1rem;
        align-items: center;
        margin-top: 0;

        button {
            display: none;
        }

        div {
            flex: 1;
        }

        .icon_phone {
            display: block;
            background-color: transparent !important;
            color: #666 !important;
            background-image: url(img/icon_fone_mobile.svg) !important;
        }

        img {
            padding-left: 0;
            width: 2rem;
            height: 3rem;
            flex: 1;
        }
    }

    .header_nav {
        display: none;
    }

    .form_cotacao {
        display: none !important;
        left: 0;
        right: 0 !important;
        h2{
            margin-top: 2.5rem;
        }
    }

    .carrosel {
        margin-left: 0;
        margin-right: 0;
        height: 100vh;
    }

    .carrosel img {
        height: 100%;
        object-fit: cover;
        object-position: -220px 16px !important;
    }


    .rank {
        flex-direction: column;

        >div>div {
            display: flex;
            gap: 2rem;

            button:last-of-type {
                background-color: #666;
                color: #fff;
                justify-content: center;
            }
        }
    }

    footer {
        .mobile_soon {
            display: flex;
            width: 100%;
            justify-content: space-around;
        }

        padding: 2rem;

        p {
            text-align: center;
        }

        div {
            img:first-of-type {
                display: none;
            }

            flex-direction: column;
            gap: 2rem;
            align-items: center;
            text-align: center;
        }

    }

    .button_quota {
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        justify-content: center;
        background-color: #1C69D4;
        color: #fff;
        border: none;
        padding: 0.5rem;
    }
    
    .button_close_cotacao{
        width: 100%;
        display: block;
        justify-content: center;
        padding: 0.5rem;
        left: 0;
        position: absolute;
        top: 0;
        background-color: #666;
        color: #fff;
        border: none;
    }
    .hide_desktop {
        display: flex !important;
    }
    ..button_whatsapp{
        position:fixed;
       }
}


.hide_desktop {
    display: none;
}

.show_mobile {
    display: block !important;
}